.home-pages__advertising__block {
  max-width: 90%;
  margin: 0 auto;
}
/* .home-pages__advertising__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.7%;
} */
.home-pages__advertising__header {
  border-left: 10px solid #8a33fd;
  padding-left: 2%;
  margin-bottom: 6%;
  color: #3c4242;
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 33.5px;
  letter-spacing: 0.68px;
}
.home-pages__advertising__block_first {
  display: flex;
  justify-content: center;
  gap: 1.5%;
  align-items: center;
}
.home-pages__advertising__block_first__item {
  border-radius: 12px;
  background: url("../../../images/banner-block-img1.png") no-repeat;
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
}
.home-pages__advertising__block_first__content {
  padding-left: 6%;
  width: 50%;
}
.home-pages__advertising__block_first__content :last-child {
  align-self: center;
}
.home-pages__advertising__block_first__header {
  color: #fff;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 38.431px;
  letter-spacing: 0.56px;
}
.home-pages__advertising__block_first__subheader {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
}
.home-pages__advertising__block_first__link {
  color: #fff;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.home-pages__advertising__block_first__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-pages__advertising__block_first__button {
  margin-top: 15%;
  display: flex;
  padding: 8% 16%;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
}

.home-pages__advertising__block_first__item_second {
  background: url("../../../images/advertising-img2.png") no-repeat;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
}
.home-pages__advertising__block_first__content_second {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 6%;
  width: 60%;
  height: 85%;
}
.home-pages__advertising__block_first__header_second {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  border-radius: 4px;
  background: #3c4242;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 5% 2%;
}
.home-pages__advertising__block_first__subheader_second {
  width: 60%;
  color: #fff;
  text-align: right;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 38.431px;
  letter-spacing: 0.56px;
  margin: 0 auto;
}
.home-pages__advertising__block_first__link_second {
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}
.home-pages__advertising__block_first__icon_second {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-pages__advertising__block_first__button_second {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4% 8%;
  border-radius: 4px;
  border: 1px solid #fff;
  width: 60%;
  margin: 0 auto;
  background: none;
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
}
.home-pages__advertising__block_first__content_third {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-right: 3%;
  width: 55%;
  height: 85%;
}

.home-pages__advertising__block_first__item_third {
  background: url("../../../images/advertising-img3.png") no-repeat;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
}
.home-pages__advertising__block_first__header_third {
  color: #3c4242;
  font-size: 2rem;
  font-weight: 600;
  line-height: 38.431px;
  letter-spacing: 0.56px;
}
.home-pages__advertising__block_first__subheader_third {
  color: #3c4242;
  font-size: 0.8rem;
  font-weight: 600;
}
.home-pages__advertising__block_first__link_third {
  color: #3c4242;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
}
.home-pages__advertising__block_first__icon_third {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-pages__advertising__block_first__button_third {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4% 8%;
  border-radius: 4px;
  border: 1px solid #3c4242;
  width: 60%;
  margin: 0 auto;
  background: none;
  color: #3c4242;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
}

.homepages__advertising__block_second {
  display: flex;
  justify-content: center;
  gap: 1.7%;
  align-items: center;
  margin-top: 2%;
}
.homepages__advertising__block_second__item {
  background: url("../../../images/advertising-img4.png") no-repeat;
  width: 600px;
  height: 380px;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  padding-right: 7%;
}
.homepages__advertising__block_second__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
  padding-right: 3%;
  width: 30%;
  height: 85%;
}
.homepages__advertising__block_second__header {
  color: #3c4242;
  font-size: 2rem;
  font-weight: 600;
  line-height: 43.922px;
  letter-spacing: 0.64px;
}
.homepages__advertising__block_second__subheader {
  color: #3c4242;
  font-size: 1rem;
  font-weight: 600;
}
.homepages__advertising__block_second__link {
  color: #3c4242;
  font-size: 1.1rem;
  font-weight: 600;
}
.homepages__advertising__block_second__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepages__advertising__block_second__btn {
  border-radius: 4px;
  border: 2px solid #3c4242;
  color: #3c4242;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  background: none;
  padding: 6% 4%;
}

.homepages__advertising__block_second__item__second {
  background: url("../../../images/advertising-img5.png") no-repeat;
  width: 600px;
  height: 380px;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  padding-right: 7%;
}
.homepages__advertising__block_second__content__second {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-right: 3%;
  width: 40%;
  height: 85%;
}
.homepages__advertising__block_second__header__second {
  color: #3c4242;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.64px;
}
.homepages__advertising__block_second__subheader__second {
  color: #3c4242;
  font-size: 1rem;
  font-weight: 600;
}
.homepages__advertising__block_second__title__second {
  color: #3c4242;
  font-size: 1.2rem;
  font-weight: 600;
}
.homepages__advertising__block_second__link__second {
  color: #3c4242;
  font-size: 1.2rem;
  font-weight: 600;
}
.homepages__advertising__block_second__btn__second {
  border-radius: 4px;
  border: 2px solid #3c4242;
  color: #3c4242;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  background: none;
  padding: 4% 12%;
}
