.products__container {
  margin: 0 auto;
}
.products__item {
  flex: 1;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 450px;
  margin-top: 4%;
  border-radius: 12px;
  position: relative;
  padding: 2%;
  overflow: hidden;
  transition: border 0.3s ease;
}

.products__item:hover {
  border: 2px solid #f6f6f6;
}
.products__like-icon,
.products__cart__icon {
  opacity: 0;
  transition: 0.3s ease;
}

.products__item:hover .products__like-icon,
.products__item:hover .products__cart__icon {
  opacity: 1;
}
.products__img__block {
  width: 100%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: start;
  gap: 5%;
  padding-right: 5%;
  padding-top: 5%;
}
.products__like-icon {
  width: 25px;
  height: 25px;
  padding: 5px;
  border-radius: 30%;
  background: #f6f6f6;
  cursor: pointer;
}
.products__cart__icon {
  cursor: pointer;
  width: 25px;
  height: 25px;
  padding: 5px;
  border-radius: 30%;
  background: #f6f6f6;
}

.products__content {
  flex: 1;
  width: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12%;
}

.products__header {
  color: #3c4242;
  font-size: 1.4rem;
  font-weight: 600;
}
.product__descr {
  color: #807d7e;
  font-size: 1rem;
  font-weight: 500;
}
.products__price {
  color: #3c4242;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 8px;
  background: #f6f6f6;
}
