.swiper-container {
  max-width: 800px; /* Максимальная ширина контейнера слайдера */
  margin: 0 auto; /* Центрирование контейнера */
  overflow: hidden; /* Обрезаем все, что выходит за пределы контейнера */
}
