 
 .signInContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f0f0f0;
    height: 100%;
  }
 
 /* Стили для заголовка формы входа и верхней части */
 .signInHeader {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  /* Дополнительные стили для элементов внутри заголовка */
  .signInHeader img {
    width: 100px;
    height: 50px;
  }
  
  /* Стили для поля поиска */
  .signInSearchBox {
    flex-grow: 1;
    margin: 0 10px;
    display: flex;
    justify-content: center;

  }
  
  .signInSearch {
    width: 35%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    
  }
  
  /* Стили для выпадающего списка выбора языка */
  .signInSelect {
    font-size: 16px;
    margin-right: 300px;
    background-color: transparent;

  }
  
  /* Стили для кнопок входа и регистрации */
  .logInBtn
   {
    font-size: 16px;
    color: #8A33FD;
    margin-right: 100px;
 
  }
  .signUpBtn {
    background-color:transparent;
    color: #8A33FD;
    margin-right: 100px;
    margin-left: -90px;
  }
  .signUpBtn,.logInBtn{
    border:1px solid black;
    width: 140px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  .signUpBtn:hover,.logInBtn:hover{
    background-color:#f0f0f0;
    color:black;
  }

.resetPasswordMainContentBlock {
    width: 100%;
    height: 100%;
    display: flex;
}
.resetPasswordLeftBlock {
    display: flex;
    flex-direction: column;
}
.resetPasswordImageBlock{
    width: 50%;
    height: 50%;
}
.resetPasswordImage {
    height: 1000px;
}
.resetPasswordTitleBlock {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.resetPasswordMainTitle {
    font-size: 34px;
    font-weight: 600;
    font-family:'Franklin Gothic Medium', Arial, sans-serif;
}

.resetPasswordMainTitleP {
    font-size: 16px;
    font-weight: 500;
    font-family:'Franklin Gothic Medium', Arial, sans-serif;
    color:darkgray;
   
}

.resetPasswordEmailInputBlockP{
    font-size: 18px;
    font-weight: 400;
    margin-top: 100px;
}
.resetPasswordEmailInput {
    width: 600px;
    height: 40px;
    border: 1px solid #8A33FD;
    color:#8A33FD;
    border-radius:5px;

}
.resetPasswordButtonBlock {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}


.resetPasswordButton {
    border:1px solid black;
    width: 140px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    background-color:#8A33FD;
    color:#ffffff;
}

a {
    font-size: 16px;
    text-decoration: underline;
}