@media all and (max-width: 1178px) {
  .cart-page__container {
    flex-direction: column;
    align-items: center;
  }
  .cart__total__block {
    margin-top: 5%;
  }
}
@media all and (max-width: 620px) {
  th,
  td {
    padding: 10px !important;
  }
  h2 {
    font-size: 14px !important;
  }
}

@media all and (max-width: 458px) {
  .cart-item__picture {
    width: 80px;
  }
  .cart-item__price,
  .cart-page__price {
    display: none;
  }
}
@media all and (max-width: 360px) {
  td,
  th {
    padding: 1px !important;
  }
  .cart-item__picture {
    width: 50px;
  }
}
