.menctgrs__container {
  max-width: 90%;
  margin: 0 auto;
}
.menctgrs__header {
  border-left: 10px solid #8a33fd;
  padding-left: 2%;
  margin-top: 6%;
  margin-bottom: 6%;
  color: #3c4242;
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 33.5px;
  letter-spacing: 0.68px;
}
.menctgrs__block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4%;
}
.menctgrs__item {
  display: flex;
  flex-wrap: wrap;
}
.menctgrs__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3%;
}
.menctgrs__title {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-between;
}
.menctgrs__title__header {
  color: #2a2f2f;
  font-size: 1.1rem;
  font-weight: 600;
}
.menctgrs__title__descr {
  color: #7f7f7f;
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: -0.536px;
}
.menctgrs__btn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}
.menctgrs__btn:hover {
  color: black;
}
