@media all and (max-width: 1191px) {
  .menctgrs__block {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .menctgrs__item {
    width: auto;
  }
}

@media all and (max-width: 390px) {
  .menctgrs__header {
    font-size: 1.4rem;
  }
}
